<td>
  <div>{{this.time}}</div>
</td>
<td>
  <div>{{this.address}}</div>
</td>
<td>
  <div>{{this.coordinates}}</div>
</td>
<td>
  <div>{{this.details}}</div>
</td>
<td>
  <a href="/mapEvents-edit/{{this._id}}">edit</a>
</td>
<td>
  <a href="/dashboard_mapEvents_row/{{this._id}}/delete">delete</a>
</td>