            <div>
                
                <div>
                    <img src="{{assos.image}}" alt="picture">
                </div>
                <div>
                    <p>
                        <span>nom: </span> {{assos.name}}
                        <br>
                        <span>adresse: </span> {{assos.address}}
                        <br>
                        <span>téléphone: </span> {{assos.tel}}
                        <br>
                        <span>e-mail: </span>  {{assos.email}}
                        <br>
                        <span>lien: </span> <a href="{{assos.link}}">site web</a>
                        <br>
                        <span>description: </span> {{assos.description}}
                    </p>
                </div>
            
            </div> 