<h2>informations association</h2>

          <div>
                
                <div>
                    <img src="{{infos.image}}" alt="picture">
                </div>
                <div>
                    <p>
                        <span>nom: </span> {{infos.name}}
                        <br>
                        <span>adresse: </span> {{infos.address}}
                        <br>
                        <span>téléphone: </span> {{infos.tel}}
                        <br>
                        <span>e-mail: </span>  {{infos.email}}
                        <br>
                        <span>lien: </span> <a href="{{assos.link}}">site web</a>
                        <br>
                        <span>description: </span> {{infos.description}}
                    </p>
                </div>
            
            </div> 