<div id="main-container-associations">


    <h1>ASSOCIATIONS</h1>

    {{!-- <div><a href="/createAsso">NOUVELLE ASSOCIATION</a></div> --}}

    <div id="container-all-assos">
        {{#each assos}}
            <div id="container-one-asso">
                
                <div class="image-associations">
                    <img src="{{this.image}}" alt="picture">
                </div>
                <div>
                    <p class="infos-asso">
                        <span>nom: </span> {{this.name}}
                        <br>
                        <span>adresse: </span> {{this.address}}
                        <br>
                        <span>téléphone: </span> {{this.tel}}
                        <br>
                        <span>e-mail: </span>  {{this.email}}
                        <br>
                        <span>lien: </span> <a href="{{this.link}}">site web</a>
                        <br>
                        <span>description: </span> {{this.description}}
                    </p>
                </div>
            
            </div> 
        {{/each}}
    </div>
</div>

