<h1>ASSOS ET ORGA</h1>

<div><a href="/createAsso">NOUVELLE ASSOCIATION</a></div>

<table>
    <thead>
        <tr>
            <th>name</th>
            <th>address</th>
            <th>tel</th>
            <th>mail</th>
            <th>description</th>
            <th>link</th>
            <th>image</th>

        </tr>
    </thead>
    <tbody>
        {{#each assos}}
        <tr>
            <td>
                {{this.name}}
            </td>
            <td>
                {{this.address}}
            </td>
            <td>
                {{this.tel}}
            </td>
            <td>
                {{this.mail}}
            </td>
            <td>
                {{this.description}}
            </td>
            <td>
                <a href="{{this.link}}">site web</a>  
            </td>
            <td>
                <img src="{{this.image}}" alt="">
            </td>
        </tr>
        {{/each}}

    </tbody>

</table>

